@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";
@import "./custom.css";
@import "./theme.css";

@font-face {
    font-family: "Poppins";
    src: url("/public/fonts/poppins.ttf");
}

* {
    margin: 0;
    padding: 0;
}

body,
.p-component,
.p-inputtext {
    font-family: 'Poppins', sans-serif !important;
    font-size: 12px !important;
}

html {
    font-size: 13px;
}

::-webkit-scrollbar {
    font-size: 2px !important;
    width: 7px !important;
    height: 7px !important;
}

::-webkit-scrollbar-track {
    background: transparent !important; 
}

::-webkit-scrollbar-thumb {
    background: #888 !important; 
    border-radius: 10px !important; 
}

::-webkit-scrollbar-thumb:hover {
    background: #555 !important; 
}