@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";
@import "./custom.css";
@import "./theme.css";

@font-face {
    font-family: "Poppins";
    src: url("/public/fonts/poppins.ttf");
}

* {
    margin: 0;
    padding: 0;
}

body,
.p-component,
.p-inputtext {
    font-family: 'Poppins', sans-serif !important;
    font-size: 13px !important;
}

html {
    font-size: 13px;
}
